<html>
<head>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="../static/css/main.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% if current_user %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">
          <i class="bi bi-house-door"></i>
          Home
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('get_details')}}">
          <i class="bi bi-bricks"> </i>
          Products 
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-bag-dash">
            <span class="badge badge-primary"></span>
          </i>
          Items
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addItem"> Add Product </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('get_user_items')}}"> My Items</a>
          <div class="dropdown-divider"></div>
          <!-- <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_user_items')}}">
                      <i class="bi bi-cart2"></i>
                <span class="badge badge-primary">10</span>
            </a>
          </li>
      <form class="form-inline my-2 my-lg-0" style="margin-right: 30px;">
        <div class="dropdown">
          {% if profile %}
          {{ current_user }} <img src="/static/img/{{ current_user }}/profile/{{ profile.avatar }}" class="avatar" alt="{{ current_user}}">
          {% else %}
          {{ current_user }} <img src="/static/img/img_avatar.png" class="avatar" alt="{{ current_user}}">
          {% endif %}
          <div class="dropdown-content">
            <a href="{{ url_for('get_user_profile') }}"><i class="fa fa-address-book" aria-hidden="true"> Profile</i> </a>
            <a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"> Logout</i></a>
          </div>
        </div>
     </form>
      {% else %}
      <form class="form-inline my-2 my-lg-0">
        <input onclick="location.href='{{ url_for('home') }}';" value="Login" class="btn btn-primary" type="button" style="margin: 2px;">
     </form>
      <form class="form-inline my-2 my-lg-0">
        <input onclick="location.href='{{ url_for('signup') }}';" value="SignUp" class="btn btn-info" type="button">
     </form>
      {% endif %}
    </ul>
  </div>
</nav>
<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="addItemlLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addItemLabel">Add new Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form enctype="multipart/form-data" data-toggle="validator" id="createItem">
            <b> <p id="error" style="text-align: left;"></p>
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" id="item-name" placeholder="Item Name"  maxlength="15" required>
              <!-- <input type="text" name="name" id="item-name" pattern="^[a-zA-Z]*" oninvalid="setCustomValidity('Please use only letters')" placeholder="Item Name"  required> -->
            </div>
            <div class="form-group">
              <label for="price" class="col-form-label">Price:</label>
              <input type="number" step="any" name="price" id="item-price" placeholder="99.99" required>
            </div>
            <div class="form-group" form-group-file>
              <label for="file" class="col-form-label">Upload Photo:</label>
              <input type="file" id="file" name="file" class="form-control" data-filesize="1000000" data-filesize-error="File must be smaller then 1MB" accept="image/*" required/>
            </div>
            <button id="submit-button" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% block html_read %}

{% endblock %}
