{% extends "base_old.html" %}

{% set include_product_component = false %}

{% set include_block_app_js  = true %}


{% block html_read %}

{% if not items %}
<h1> You don't have items in your Cart :( </h1>
{% endif %}
    {% for item in items %}
    <div class="card w-75" id="card{{ item.id }}" style="margin-left: 200px;">
        <div class="row no-gutters">
            <div class="col-md-3" style="background: #868e96;">
                {% if  'no-image.png' == item.image %}
                <img class="card-img" src="/static/img/{{ item.image }}">
                {% else %}
                <img class="card-img" src="/static/img/{{ item.username }}/{{item.name}}/{{ item.image }}">
                 {% endif %}
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }} </h5>
                    <p class="card-text"> Price: ${{ '%0.2f'|format(item.price|float)  }}.</p>
                    <p class="card-text"> Category: {{ item.category.name.split('.')[-1] }}</p>
                    <input type="number" name="id" value="{{ item.id }}" id="id" hidden>
                    <input type="text" id="username" value="{{ current_user }}"  hidden>
                    <p>
                        <span class="fa fa-star checked" id="star{{ item.id }}1"></span>
                        <span class="fa fa-star checked" id="star{{ item.id }}2"></span>
                        <span class="fa fa-star checked" id="star{{ item.id }}3"></span>
                        <span class="fa fa-star" id="star{{ item.id }}4"></span>
                        <span class="fa fa-star" id="star{{ item.id }}5"></span>
                        <span id="overall-rating{{ item.id }}"> No rating Yet </span>
                    </p>
                    <a href="#" id="card{{ item.id }}" class="btn btn-primary" onclick="removeCard(this.id)">Remove from Cart</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endblock %}

{% block javascript %}
<script>

function getItemRating(item_id){
  $.ajax({
        url: "/api/reviews/item/rating",
        method: "get",
        headers: { "Content-Type": "application/json",},
        data:  { "id": `${item_id}`
        },
        success: data => {
          for (var i=1; i<=5; i++ ){
            var star = document.getElementById('star'+ item_id + i )
            if ( i <= data.rating ){
                star.classList.add('checked');
            }
            else { star.classList.remove('checked')}
          }
        document.getElementById('overall-rating'+ item_id).innerText = '  (' + data.review_number + ')'
        },
        error: (error) => {
            console.log('error:', error);
        }
      });
   }

{% for item in items %}
var item_id = '{{ item.id }}'
getItemRating(item_id)
{% endfor %}

function removeCard(cardID){
    var card = document.getElementById(cardID)
    var item_id = cardID.replace('card', "")
    card.remove()
    $.ajax({
        url: "/user/remove-from-basket",
        method: "post",
        headers: { "Content-Type": "application/json",},
        data: JSON.stringify({
          "item_id": `${item_id}`,
        }),
        success: data => {
            console.log('success')
        },
        error: (error) => {
            console.log('error:', error);
        }
      });
}

</script>

{% endblock %}

<div class="row">
  <div class="col-md-3 col-sm-6">
      <div class="product-grid">
          <div class="product-image">
              <a href="#" class="image">
              <img :src="'static/img/' + product.username + '/' + product.name + '/' + product.image" class="pic-1">
              <img :src="'static/img/' + product.username + '/' + product.name + '/' + product.image" class="pic-2">
              </a>
              <span class="product-sale-label">Sale</span>
              <a href="#" class="product-like-icon" data-tip="Add to Wishlist">
                  <i class="far fa-heart"></i>
              </a>
              <ul class="product-links">
                  <li><a href="#"><i class="fa fa-search"></i></a></li>
                  <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                  <li><a href="#"><i class="fa fa-random"></i></a></li>
              </ul>
          </div>
          <div class="product-content">
              <h4 class="title">[[ product.name ]] </h5>
                <h5 class="price" id="item-details">Price: [[ product.price]]</h5>
                <input type="number" name="id" value="product.id" id="id" hidden>
          </div>
      </div>
  </div>
  </div>