{% extends "base_old.html" %}

{% set include_block_app_js  = true %}
{% set include_main_css  = true %}

{% block more_css %}
<style>
  *,
*:after,
*:before {
  box-sizing: border-box;
}

ul {
  padding-left: 10px;
}

a {
  color: #000;
}

.content {
  z-index: 9999;
}

.secure,
.backBtn {
  display: flex;
}
.secure span,
.backBtn span {
  margin-left: 5px;
}

.backBtn {
  margin-top: 20px;
}

.secure {
  color: #afb5c0;
  align-items: flex-end;
}
.secure .icon {
  font-size: 20px;
  line-height: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.logo .icon {
  font-size: 32px;
  line-height: 32px;
  margin-right: 5px;
}

img {
  width: 100%;
  border-radius: 8px 0 0 8px;
}

.details {
  max-width: 800px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.details__item {
  display: flex;
}
.details__user {
  background: #f6f9fc;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #dadada;
}

.shadow {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.row {
  display: flex;
}

.txt {
  border-color: #e1e8ee;
  width: 100%;
}

.input {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  height: 48px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #5e6977;
}

input[type="text"] {
  display: initial;
  padding: 15px;
}

.text-validated {
  border-color: #7dc855;
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.ddl {
  border-color: #f0f4f7;
  background-color: #f0f4f7;
  width: 100px;
  margin-right: 10px;
}

.title {
  font-size: 14px;
  padding-bottom: 8px;
}

.field {
  padding-top: 15px;
  padding-right: 30px;
  width: 50%;
}
.field.small {
  width: auto;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0 40px 0;
}

.payment {
  padding: 20px 0 0 0;
}
.payment__title {
  margin: 40px 0 20px 0;
  font-size: 18px;
  display: flex;
  text-align: left;
}
.payment__title .icon {
  margin-right: 10px;
}

.payment__types {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment__info {
  display: flex;
}

.payment__cc {
  flex: 60%;
}

.payment__shipping {
  flex: 40%;
}

.shipping__info {
  background: #f6f9fc;
  padding: 10px;
  border-radius: 8px;
}

.payment__type {
  display: flex;
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  padding: 20px 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #d9d9d9;
  transition: all 0.15s ease;
}
.payment__type:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.payment__type.active {
  color: #0a0a0a;
  background: #f6fcf7;
  border-color: #7dc855;
}
.payment__type .icon {
  font-size: 32px;
  margin-right: 10px;
}
.payment__type + .payment__type {
  margin-left: 10px;
}

.icon-xl {
  font-size: 48px;
  line-height: 48px;
}

.content {
  display: block;
}

.thankyou {
  display: block;
}
.thankyou .details {
  opacity: 1;
  justify-content: center;
  align-items: center;
}
.thankyou .details h3 {
  font-weight: 600;
}
.thankyou .details__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thankyou .details__item .icon-xl {
  font-size: 32px;
  color: #7dc855;
  line-height: 32px;
}

.loading {
  position: relative;
}
.loading:after {
  -webkit-animation: spinAround .5s infinite linear;
          animation: spinAround .5s infinite linear;
  border: 4px solid #7dc855;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  height: 5em;
  width: 5em;
  position: absolute;
}
.loading .details__item {
  opacity: 0;
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

</style>
{% endblock %}

{% block html_read %}
<div class="container" style="align-items: center; margin-top: 100px;">
{% for item in items %}
<div class="card w-75" id="card{{ item.id }}">
    <div class="row">
        <div class="col-md-3">
            {% if  'no-image.png' == item.image %}
            <img class="card-img" src="/static/img/{{ item.image }}">
            {% else %}
            <img class="card-img" src="/static/img/{{ item.username }}/{{item.name}}/{{ item.image }}">
             {% endif %}
        </div>
        <div class="col-sm-7">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }} </h5>
                <p class="card-text"> Price: ${{ '%0.2f'|format(item.price|float)  }}.</p>
                <p class="card-text"> Category: {{ item.category.name.split('.')[-1] }}</p>
                <p class="card-text"> Description: {{ item.description }}</p>
                <input type="number" name="id" value="{{ item.id }}" id="id" hidden>
                <input type="text" id="username" value="{{ current_user }}"  hidden>
                <p>
                    <span class="fa fa-star checked" id="star{{ item.id }}1"></span>
                    <span class="fa fa-star checked" id="star{{ item.id }}2"></span>
                    <span class="fa fa-star checked" id="star{{ item.id }}3"></span>
                    <span class="fa fa-star" id="star{{ item.id }}4"></span>
                    <span class="fa fa-star" id="star{{ item.id }}5"></span>
                    <span id="overall-rating{{ item.id }}"> No rating Yet </span>
                </p>
                <a href="#" id="card{{ item.id }}" class="btn btn-primary btn-sm" onclick="removeCard(this.id)">Remove from Cart</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
  <div class="discount"></div>
  <div class="container">
    <div class="payment">
      <div class="payment__title">
        Payment Method
      </div>
      <div class="payment__types">
        <div class="payment__type payment__type--cc active">
          <i class="icon icon-credit-card"></i>Credit Card</div>
        <div class="payment__type payment__type--paypal">
          <i class="icon icon-paypal"></i>Paypal</div>
        <div class="payment__type payment__type--paypal">
          <i class="icon icon-wallet"></i>SEPA</div>
        <div class="payment__type payment__type--paypal">
          <i class="icon icon-note"></i>Invoice</div>
      </div>

      <div class="payment__info">
        <div class="payment__cc">
          <div class="payment__title">
            <i class="icon icon-user"></i>Personal Information
          </div>
          <form>
            <div class="form__cc">
              <div class="row">
                <div class="field">
                  <div class="title">Credit Card Number
                  </div>
                  <input type="text" class="input txt text-validated" value="4542 9931 9292 2293" />
                </div>
              </div>
              <div class="row">
                <div class="field small">
                  <div class="title">Expiry Date
                  </div>
                  <select class="input ddl">
                    <option selected>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                  <select class="input ddl">
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option selected>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                  </select>
                </div>
                <div class="field small">
                  <div class="title">CVV Code
                    <span class="numberCircle">?</span>
                  </div>
                  <input type="text" class="input txt" />
                </div>
              </div>
              <div class="row">
                <div class="field">
                  <div class="title">Name on Card
                  </div>
                  <input type="text" class="input txt" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="payment__shipping">
          <div class="payment__title">
            <i class="icon icon-plane"></i> Shiping Information
          </div>
          <div class="details__user">
            <div class="user__name">John Doe
              <br> 13/03/1980</div>
            <div class="user__address">Shipping Address: 22 Street, Address
              <br>Country</div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="actions">
      <div> {{items_in_cart}} Items in Cart for Total: ${{ total }} </div>
      <a href="#" class="btn btn-primary">Place your Order
        <i class="icon icon-arrow-right-circle"></i>
      </a>
      <a href="#" class="backBtn">Go Back to Shop</a>

    </div>
  </div>
  </div>
</section>

{% endblock %}


{% block javascript %}
<script>
function getItemRating(item_id){
  $.ajax({
        url: "/api/reviews/item/rating",
        method: "get",
        headers: { "Content-Type": "application/json",},
        data:  { "id": `${item_id}`
        },
        success: data => {
          for (var i=1; i<=5; i++ ){
            var star = document.getElementById('star'+ item_id + i )
            if ( i <= data.rating ){
                star.classList.add('checked');
            }
            else { star.classList.remove('checked')}
          }
        document.getElementById('overall-rating'+ item_id).innerText = '  (' + data.review_number + ')'
        },
        error: (error) => {
            console.log('error:', error);
        }
      });
   }

{% for item in items %}
var item_id = '{{ item.id }}'
getItemRating(item_id)
{% endfor %}

function removeCard(cardID){
    var card = document.getElementById(cardID)
    var item_id = cardID.replace('card', "")
    card.remove()
    $.ajax({
        url: "/user/remove-from-basket",
        method: "post",
        headers: { "Content-Type": "application/json",},
        data: JSON.stringify({
          "item_id": `${item_id}`,
        }),
        success: data => {
            console.log('success')
        },
        error: (error) => {
            console.log('error:', error);
        }
      });
}

</script>
{% endblock %}


<div class = "card-wrapper">
  <div class = "card">
    <div class = "product-imgs">
      <div class = "img-display">
        <div class = "img-showcase">
        <img :src="'/static/img/' + item.username + '/' + item.name + '/' + item.image">
        <img :src="'/static/img/' + item.username + '/' + item.name + '/' + item.image">
        <img :src="'/static/img/' + item.username + '/' + item.name + '/' + item.image">
        <img :src="'/static/img/' + item.username + '/' + item.name + '/' + item.image">
          </div>
      </div>
      <div class="img-select">
        <div class="img-item">
          <a href="#" data-id = "1">
          <img :src="'/static/img/' + item.username + '/' + item.name + '/' + item.image">
          </a>
        </div>
        <div class="img-item">
          <a href="#" data-id = "2">
          <img :src="'/static/img/' + item.username + '/' + item.name + '/' + item.image">
          </a>
        </div>
        <div class="img-item">
          <a href="#" data-id = "3">
          <img :src="'/static/img/' + item.username + '/' + item.name + '/' + item.image">
          </a>
        </div>
        <div class="img-item">
          <a href="#" data-id="4">
          <img :src="'/static/img/' + item.username + '/' + item.name + '/' + item.image">
          </a>
        </div>
      </div>
    </div>

    <div class = "product-content">
      <h2 class = "product-title">[[ item.name ]]</h2>
      <div class = "product-rating">
        <span class="fa fa-star" id="star1"></span>
        <span class="fa fa-star" id="star2"></span>
        <span class="fa fa-star" id="star3"></span>
        <span class="fa fa-star" id="star4"></span>
        <span class="fa fa-star" id="star5"></span>
        <span id="overall-rating" @click="scrollToTarget" style="cursor: pointer;"></span>
      </div>

      <div class="product-price">
        <p class="new-price" id="new-price">Price: <span> <b> $[[ discountedPrice ]] </b></span></p>
        <p v-if="item.discount" class="last-price">Old Price: <span> <small> $[[ item.price ]]  </small> </span></p>
          <span  v-if="item.discount" class="badge bg-danger" style="font-size: 0.9em;">
          -[[ Math.floor(item.discount * 100) ]]%
          </span>
      </div>

      <div class="product-detail">
        <h3>Description: </h3>
          <li> Made entirely of metal with a weight of 1.68kg. </li>
          <li> Intel i5-13500H processor with up to 4.7GHz.</li>
          <li> Intel Iris Xe integrated graphics.</li>
          <li>512GB or 1TB ultrafast SSD storage.</li>
          <li>16″ display in 2.5K resolution.</li>
          <li>16GB of dual-channel LPDDR5-6400 RAM.</li>
          <li>72Wh battery with Thunderbolt 4 type C charger <br />  with ultra-fast charging at 100W,<br /> 
           allowing you to charge up to 50% of the battery <br />  in just 35 minutes and, mind you, it can last up to 16 hours.</li>
        <ul>
          <li>Color: <span>Black</span></li>
          <li>Available: <span>in stock</span></li>
          <li id="category">Category: <span>[[ item.category.name ]] </span></li>
          <li>Shipping Area: <span>All over the world</span></li>
          <li>Shipping Fee: <span>Free</span></li>
        </ul>
      </div>

      <div class = "purchase-info">
        <input type = "number" min = "0" value = "1">
        <button type = "button" class="btn" id="add-to-cart" ref="addToCartButton" @click="addToCart(item)">
          Add to Cart <i class = "fas fa-shopping-cart"></i>
        </button>
        <button type = "button" class = "btn">Compare</button>
      </div>
    </div>
  </div>
</div>
<section class="container" style="margin-top: 160px;">
  <div class="tab-container">
      <nav class="tab-nav">
          <div class="mobile-select"> <i class="bi bi-chevron-down"></i></div>
          <ul>
              <li><button class="btn tab-btn active" id="html">Reviews</button></li>
              <li><button class="btn tab-btn" id="csss">Specification</button></li>
              <li><button class="btn tab-btn" id="js">Details</button></li>
          </ul>
      </nav>
      <div class="tab-content">
      <div class="tab-item" data-id="html" id="reviewTab">
        <nav aria-label="Review Pagination">
          <ul class="pagination" style="margin-left:20px">
          <li class="page-item">
          <a class="page-link"  @click="prevPage" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li v-for="(page, index) in pages" :key="index" :class="{ 'page-item': true, 'active': page === currentPage }">
              <a class="page-link" @click="setCurrentPage(page)">[[ page ]]</a>
            </li>
          <li class="page-item">
              <a class="page-link" @click="nextPage" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
        </ul>
        </nav>
        <div class="card group1" v-if="displayedReviews.length > 0" v-for="review in displayedReviews" :key="review.id" :id="'card'+review.id" style="display: block; width:550px; margin-bottom: 2px;">
        <div class="row">
            <div class="col-12">
              <p>
                <div style="display: flex; align-items: center; justify-content: center;">
                  <img src="/static/img/img_avatar.png" class="avatar" style="padding: 5px;">
                  <span style="text-align: center;">[[ review.created_by ]]</span>
                </div>
                <span class="fa fa-star" :class="{ checked: star.checked }" :id="star.id" v-for="star in updateStarRatings(review)"></span>
              </p>
              <hr>
              <div>
                <p style="text-align: left; padding: 15px;">[[ review.text ]]
                  CSS (Cascading Style Sheets) is a stylesheet language used for describing the presentation and
                  layout of HTML documents. It plays a critical role in web development by allowing web developers
                  to control the visual appearance of web pages.
                </p>
              </div>
            </div>
          </div>
        </div>
          <div class="row pb-2" style="width:700px">
            <div class="card" id="RatingCard" style="width:550px; margin-left: 35px;">
              <div class="row">
              <div class="col-12" style="margin-bottom: 5px;">
              <div class="comment-box ml-2">
              <input type="number" id="comment-item-id" value="item.id" required hidden>
              <div class="rating" style="padding:10px;"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
              <div class="comment-area" style="width:500px; padding:10px;"> <textarea class="form-control" placeholder="Write a Review.." rows="4" id="comment-area"></textarea> </div>
              <div class="comment-btns mt-2">
              <div class="row">
              <div class="col-6">
              <div class="pull-left"> <button class="btn btn-secondary btn-sm" id="RatingCancel" @click="RatingHide">Cancel</button> </div>
              </div>
              <div class="col-6">
              <div class="pull-right"> <button class="btn btn-success send btn-sm" @click="addReview"> Submit </button> </div>
              </div>
              </div>
              </div>
              </div>
              </div>
         </div>
         </div>
         </div>
         </div>
          <div class="tab-item hide" data-id="csss">
              <p>[[ item.description ]]</p>
          </div>
          <div class="tab-item hide" data-id="js">
              <li> Samsung UE43CU8072U - 43" Diagonal Class CU8000 Series LED-backlit LCD TV </li> 
              <li>  Flat 2.16 m (85") LCD </li>
              <li>  Crystal UHD - Smart TV - Tizen OS - 4K UHD (2160p) 3840 x 2160 - HDR - black</li>
              <li>  DVB-S2, DVB-T2, ISDB-C </li> 
              <li>  Smart TV Internet TV </li> 
              <li>  Wi-Fi Ethernet LAN Bluetooth </li> 
              <li>  High Dynamic Range (HDR) supported </li> 
              <li>  G 168 kWh 168 W </li> 
          </div>
      </div>
  </div>
</section>

<div class="toast" id="cartToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
  <div class="toast-header">
    <strong class="me-auto">Bootstrap</strong>
    <small class="text-body-secondary">11 mins ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body" id="cartToastBody">
    <!-- Content will be dynamically updated here -->
  </div>
</div>