<!DOCTYPE html>
<head>
  <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/templates/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="../static/css/main.css">
</head>
<style>
  .cat {
  margin: 4px;
  background-color: #7b7f83;
  border-radius: 40px;
  /* border: 1px solid #fff; */
  overflow: hidden;
  float: left;
}

.cat label {
  float: left;
  line-height: 3.0em;
  width: 10.0em;
  height: 3.0em;
  cursor: pointer;
  user-select: none;
}

.cat label span {
  text-align: center;
  padding: 3px 0;
  display: block;
  color: #fff;
}

.cat label input:disabled + span {
  background-color: #6c757d; /* Adjust the color as needed */
  cursor: not-allowed;
}

.cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}

.cat label input:checked + span {
  background-color: #007bff; /* Change the background color as needed */
}
.cat label b {
  margin-left: 5px; /* Adjust the margin as needed */
}
.custom-button {
  width: 160px;
  margin: 5px 10px 0 0;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 6px 30px;
  cursor: pointer; 
  color: #000; 
}
.form-check {
    display: block;
    margin-bottom: 5px; /* Adjust the margin as needed */
}

.custom-button:hover {
  background-color: #e0e0e0; 
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
    z-index: 1;
  }
  .fade-enter-to {
    opacity: 1;
  }
.fade-enter-from {
  opacity: 0;
}
</style>

<div class="container-fluid" id="app2" style="width: 100vw; position: sticky; margin: 0; padding: 0;">
  <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light ms-auto shadow-lg"
  style="height: 70px; margin-left: 0; margin-right: 0;">
  <navbar2-component :cart="cart" :total="total">
  </navbar2-component>
</nav>
</div>
{% if not items %}
<h1> You don't have items in your Cart :( </h1>
{% endif %}
    {% for item in items %}
    <div class="card w-75" id="card{{ item.id }}" style="margin-left: 200px;">
        <div class="row no-gutters">
            <div class="col-md-3" style="background: #868e96;">
                {% if  'no-image.png' == item.image %}
                <img class="card-img" src="/static/img/{{ item.image }}">
                {% else %}
                <img class="card-img" src="/static/img/{{ item.username }}/{{item.name}}/{{ item.image }}">
                 {% endif %}
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }} </h5>
                    <p class="card-text"> Price: ${{ '%0.2f'|format(item.price|float)  }}.</p>
                    <p class="card-text"> Category: {{ item.category.name.split('.')[-1] }}</p>
                    <input type="number" name="id" value="{{ item.id }}" id="id" hidden>
                    <input type="text" id="username" value="{{ current_user }}"  hidden>
                    <p>
                        <span class="fa fa-star checked" id="star{{ item.id }}1"></span>
                        <span class="fa fa-star checked" id="star{{ item.id }}2"></span>
                        <span class="fa fa-star checked" id="star{{ item.id }}3"></span>
                        <span class="fa fa-star" id="star{{ item.id }}4"></span>
                        <span class="fa fa-star" id="star{{ item.id }}5"></span>
                        <span id="overall-rating{{ item.id }}"> No rating Yet </span>
                    </p>
                    <a href="#" id="card{{ item.id }}" class="btn btn-primary">Remove from Cart</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% block html_read %}


{% endblock %}
<script>

const App2 = Vue.createApp({
    name: "App2",
    delimiters: ['[[', ']]'],
    data() {
      return {
        min: 1,
        max: 10000,
        products: [],
        categories: [],
        cart: Vue.ref([]),
        sortOrder: 'asc',
        selectedCategories: [],
        showPopoverContent: false,
        selectedRating: [],
        ratings: [1, 2, 3, 4, 5],
        displayCart: true
      };
    },
    async beforeMount() {
      await this.readFromCartVue();
      await this.getProducts();
      await this.fetchCategories();
      this.products.forEach(product => {
      this.getItemRating(product.id);
    });
    },
    computed: {
    total() {
      const sum = this.cart.reduce((total, item) => total + Number(item.price), 0);
      return sum.toFixed(2);
    },
    filteredProducts() {
    return this.products.filter(item => {
      const priceCondition = item.price >= this.min && item.price <= this.max;
      const categoryCondition = this.selectedCategories.length === 0 || this.selectedCategories.includes(String(item.category_id));
      const ratingCondition = this.selectedRating.length === 0 || this.selectedRating.includes(Math.ceil(item.rating_float));
      return priceCondition && categoryCondition && ratingCondition;
      });
     },
    },
    methods: {
      async getProducts() {
        try {
          const res = await fetch('/api/items');
          const products = await res.json();
          this.products = products;
          const maxPrice = Math.max(...this.products.map(product => product.price));
          const minPrice = Math.min(...this.products.map(product => product.price));
          this.max = maxPrice;
          this.min = minPrice;
          } catch (error) {
          console.error('Error fetching products:', error);
        }
      },
      async fetchCategories() {
        try {
          const res = await fetch('/api/categories/category_items_len/');
          this.categories = await res.json();
        } catch (error) {
          console.error('Error fetching categories:', error);
        }
      },
      async getItemRating(itemId) {
        try {
          const response = await fetch(`/api/reviews/item/rating?id=${itemId}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json',
            },
          });
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
          const data = await response.json();
          const product = this.products.find((p) => p.id === itemId);
          if (product) {
            product.rating = data.rating;
            product.reviewNumber = data.review_number;
            product.rating_float = parseFloat(data.rating_float).toFixed(2)
          }
        } catch (error) {
        }
      },
      handleCategoryChange() {
        this.selectedCategories = this.getSelectedCategories();
      },
      getSelectedCategories() {
          var selectedCategories = [];
          var checkboxes = document.querySelectorAll('.cat-checkbox:checked');
          checkboxes.forEach((checkbox) => {
            var categoryId = checkbox.getAttribute("data-category");
            selectedCategories.push(categoryId);
          });
          return selectedCategories;
        },
      toggleSortOrder() {
        this.sortOrder = this.sortOrder === 'asc' ? 'desc' : 'asc';
        this.sortProducts();
      },
      sortProducts() {
        if (this.sortOrder === 'asc') {
        this.products.sort((a, b) => a.price - b.price);
        } else {
        this.products.sort((a, b) => b.price - a.price);
        }
      },
      validateMin() {
        const productMinPrice = Math.min(...this.products.map(product => product.price));
        this.min = String(this.min).replace(/^0+/, '');
          if (this.min === '' || isNaN(this.min)) {
                this.min = productMinPrice;
            }
            if (this.min > this.max) {
              this.min = this.max;
            }
         },
      validateMax() {
        const productMaxPrice = Math.max(...this.products.map(product => product.price));
        this.max = String(this.max).replace(/^0+/, '');
        if (this.max < this.min) {
            this.max = this.min;
        }
        if (this.max === '' || isNaN(this.max)) {
          this.max = productMaxPrice;
          }
        if (this.max > productMaxPrice) {
          this.max = productMaxPrice;
        }
      },
      async readFromCartVue(){
        fetch('/user_items_in_cart', {
        method: 'get',
        headers: {
          'Content-Type': 'application/json',
        },
        })
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
          return response.json();
        })
        .then(data => {
          this.cart  = data.items
        })
        .catch(error => {
          console.error('error', error);
        });
      },
      redirectToItem(itemId) {
        window.location.href = 'items/' + itemId;
      },
      redirectToCart(itemId) {
        window.location.href = 'items-in-cart/';
      },
      handleRatingChange(rating) {
      const index = this.selectedRating.indexOf(rating);
      if (index === -1) {
        this.selectedRating.push(rating);
      } else {
        this.selectedRating.splice(index, 1);
      }
      },
    },
    filters: {
      formatPrice(price) {
      return Number.isInteger(price) ? price : price.toFixed(2);
    }},
  });

App2.component('navbar2-component', {
    props: ['product','cart', 'total'],
    data() {
    return {
      displayCart: true,
    };
  },
    delimiters: ['[[', ']]'],
    template: `
      <div class="container-fluid" style="width: 100%; font-size: 14px;">
        <a class="navbar-brand" href="#" style="font-size: 14px;">
           <i class="fa fa-home"></i> <strong>KRASSY SHOP</strong>
         </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" aria-current="page" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="{{ url_for('get_products')}}">Offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="{{ url_for('get_category')}}">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="{{ url_for('get_items_in_cart')}}">Cart</a> 
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="#">About</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control mr-sm-2" id="filter" v-on:keyup="Search()" type="text" placeholder="Search products">
          </form>
        <div v-if="cart" @mouseleave="hideCart()" d-flex bd-highlight mb-3>
          <button @click="displayCart = !displayCart" class="btn btn-light dropdown-toggle btn-sm" id="cartDropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-cart" style="font-size: 1rem;"></i> Cart <span class="badge badge-pill badge-primary"> [[ cart.length ]]</span>
      </button>
          <div v-if="!displayCart"  class="list-group position-absolute">
            <div v-for="(item, index) in cart" :key="index" class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img :src="'static/img/' + item.username + '/' + item.name + '/' + item.image" class="mr-2"
                  style="width: 50px; height: 60px; object-fit: cover; border-radius: 5px;">
              <div style="cursor: pointer" @click="redirectToItemFromNavbar(item.id)">
                <div> [[ item.name ]] - $[[ item.price ]] </div>
              </div>
            </div>
            <button @click="removeFromCart(item.id)" class="btn btn-light btn-sm ml-2" data-bs-placement="top">x</button>
          </div>
          <button id="total" class="btn btn-sm btn-light" style="pointer-events: none; opacity: 1; margin-bottom: 1px;">
            Total: [[ cart.length ]] products - <b> $[[ total ]] </b>
          </button>
          <button v-if="cart.length > 0" @click="redirectToCart" class="btn btn-sm btn-primary"> Go to Cart </button>
            </div>
        </div>
          <div class="ml-auto"></div>
          {% if current_user %}
          <form class="form-inline my-2 my-lg-0" style="margin-right: 120px; padding:0">
            <div class="dropdown" style="font-family: Raleway; font-size: 16px;">
              {% if profile %}
              <img src="/static/img/{{ current_user }}/profile/{{ profile.avatar }}" class="avatar" alt="{{ current_user}}">
              {% else %}
              {{ current_user }} <img src="/static/img/img_avatar.png" class="avatar" alt="{{ current_user}}">
              {% endif %}
              <div class="dropdown-content">
                <a class="nav-link mx-2 text-uppercase" href="{{ url_for('get_user_profile') }}"> Profile</a>
                <a class="nav-link mx-2 text-uppercase" href="{{ url_for('logout') }}"> Logout</a>
              </div>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    `,
    methods:{
      redirectToItemFromNavbar(itemId) {
      this.$root.redirectToItem(itemId);
      // this.$root.redirectToCart();
    },
      redirectToCart() {
       window.location.href = `/items-in-cart`
      // this.$root.redirectToCart();
    },
    removeFromCart(itemId) {
        // Call the backend function to remove the item from the cart
        fetch('/user/remove-from-basket', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                item_id: itemId,
            }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
          const index = this.cart.findIndex(item => item.id === itemId);

            if (index !== -1) {
                this.cart.splice(index, 1);
            }
        })
        .catch(error => {
            console.error('Error removing item from cart:', error);
        });
    },
    hideCart() {
            this.displayCart = true;
        },
     Search() {
      var input, filter, cards, cardContainer, h5, title, i;
      input = document.getElementById("filter");
      filter = input.value.toUpperCase();
      cardContainer = document.getElementById("mycard");
      cards = cardContainer.getElementsByClassName("card");
      for (i = 0; i < cards.length; i++) {
          title = cards[i].querySelector(".card-body h5.card-title");
          if (title.innerText.toUpperCase().indexOf(filter) > -1) {
              cards[i].style.display = "";
          } else {
              cards[i].style.display = "none";
          }
      }
  }
    }
  });

App2.mount('#app2');

</script>

