{% extends "base_old.html" %}

{% set include_block_app_js  = true %}
{% set include_modal_add_item = true %}
{% set include_product_component = false %}
{% set include_whishlist_component = true %}

{% block head %}
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/templates/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="../static/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% include "js/main.js" %}
    </script>
{% endblock %}



{% block html_read %}

{% endblock %}

<div class="container">
  <div class="row justify-content-center">
      <div class="col-12">
          <div class="section-title text-center mb-4 pb-2">
              <h4 class="title mb-4">Our products</h4>
              <p class="text-muted para-desc mx-auto mb-0">There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space.</p>
          </div>
      </div><!--end col-->
  </div><!--end row-->
  <div class="row">
      <div class="col-md-3 col-sm-6">
          <div class="product-grid">
              <div class="product-image">
                  <a href="#" class="image">
                      <img class="pic-1" src="https://images.unsplash.com/photo-1539840093138-9b3e230e5206?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=765a2eb222b1851840a4a157780fb487&auto=format&fit=crop&w=1534&q=80">
                      <img class="pic-2" src="https://images.unsplash.com/photo-1539840093138-9b3e230e5206?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=765a2eb222b1851840a4a157780fb487&auto=format&fit=crop&w=1534&q=80">
                  </a>
                  <a href="#" class="product-like-icon" data-tip="Add to Wishlist">
                      <i class="far fa-heart"></i>
                  </a>
                  <ul class="product-links">
                      <li><a href="#"><i class="fa fa-search"></i></a></li>
                      <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                      <li><a href="#"><i class="fa fa-random"></i></a></li>
                  </ul>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">Women's Top</a></h3>
                  <div class="price">$75.99</div>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="product-grid">
              <div class="product-image">
                  <a href="#" class="image">
                      <img class="pic-1" src="https://images.unsplash.com/photo-1511556820780-d912e42b4980?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=04aebe9a22884efa1a5f61e434215597&auto=format&fit=crop&w=500&q=60">
                      <img class="pic-2" src="https://images.unsplash.com/photo-1511556820780-d912e42b4980?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=04aebe9a22884efa1a5f61e434215597&auto=format&fit=crop&w=500&q=60">
                  </a>
                  <span class="product-sale-label">Sale</span>
                  <a href="#" class="product-like-icon" data-tip="Add to Wishlist">
                      <i class="far fa-heart"></i>
                  </a>
                  <ul class="product-links">
                      <li><a href="#"><i class="fa fa-search"></i></a></li>
                      <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                      <li><a href="#"><i class="fa fa-random"></i></a></li>
                  </ul>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">Men's Blazer</a></h3>
                  <div class="price"><span>$86.33</span> $71.55</div>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="product-grid">
              <div class="product-image">
                  <a href="#" class="image">
                      <img class="pic-1" src="https://images.unsplash.com/photo-1516961642265-531546e84af2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=74065eec3c2f6a8284bbe30402432f1d&auto=format&fit=crop&w=500&q=60">
                      <img class="pic-2" src="https://images.unsplash.com/photo-1516961642265-531546e84af2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=74065eec3c2f6a8284bbe30402432f1d&auto=format&fit=crop&w=500&q=60">
                  </a>
                  <span class="product-sale-label">Sale</span>
                  <a href="#" class="product-like-icon" data-tip="Add to Wishlist">
                      <i class="far fa-heart"></i>
                  </a>
                  <ul class="product-links">
                      <li><a href="#"><i class="fa fa-search"></i></a></li>
                      <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                      <li><a href="#"><i class="fa fa-random"></i></a></li>
                  </ul>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">Men's Blazer</a></h3>
                  <div class="price"><span>$86.33</span> $71.55</div>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="product-grid">
              <div class="product-image">
                  <a href="#" class="image">
                      <img class="pic-1" src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
                      <img class="pic-2" src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
                  </a>
                  <span class="product-sale-label">Sale</span>
                  <a href="#" class="product-like-icon" data-tip="Add to Wishlist">
                      <i class="far fa-heart"></i>
                  </a>
                  <ul class="product-links">
                      <li><a href="#"><i class="fa fa-search"></i></a></li>
                      <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                      <li><a href="#"><i class="fa fa-random"></i></a></li>
                  </ul>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">Men's Blazer</a></h3>
                  <div class="price"><span>$86.33</span> $71.55</div>
              </div>
          </div>
      </div>
  </div>
</div>

<p style="cursor: pointer">
  <i>
    <span v-for="i in 5" :key="i" :class="getStarClasses(i, product.rating_float)"></span>
    <span :id="'overall-rating' + product.id + '-float'"><small>&nbsp[[ product.rating_float ]]</small></span>
  </i>
  <span :id="'overall-rating' + product.id"> <small> ([[ product.reviewNumber ]]) </small> </span>
</p>
<span class="badge bg-danger" v-if="product.price <= 90">WOW</span>
<span class="badge bg-primary" v-else-if="product.price > 90 && product.price <= 1000">Value</span>
<span class="badge bg-success" v-else-if="product.price > 1000">TOP</span>
<span> <small> $</small>[[ product.price | formatPrice  ]]</span>
<span v-if="Number.isInteger(product.price) === false" style="font-size: 0.7em; vertical-align: top;">
  [[ product.price.toString().split('.')[1] ]]
</span>