{% extends "base.html" %}

{% block html_read %}
{% block javascript %}
    <script type="text/javascript">
        {% include "js/main.js" %}
    </script>
{% endblock %}
{% block head %}
  <style>
  .card-img-top {
    width: 100%;
    height: 14vw;
    object-fit: cover;
  }
  .card{
    width: 30rem;
    margin-bottom: auto;
    margin-right: auto;
    margin-right: auto;
    margin-left: 50%;
    /* border: 15px solid #969696; */
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .card.group1 {
    margin-left: 7%
  }
  .comment-box {
  padding: 15px
  }
  .comment-area textarea {
  resize: none;
  border: 1px solid #9797ca
  }

  #loadMore {
    width: 30rem;
    color: #fff;
    display: block;
    text-align: center;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: blue;
    transition: .3s;
  }
  #loadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
  }
  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  .tab {
    margin-left: 13%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 15px;
    }
 
    /* Change background color of buttons on hover */
    .tab button:hover {
    background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
    background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
    margin-left: 13%;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 5px;
    max-width: 35%;
    }
  </style>
{% endblock %}
</br>

<div class="row">
    <div class="card-group col-12" id="mycard" style="margin-left: 3%;">
      <div class="col-lg-auto">
      <div class="card">
          <div class="card-body">
            {% if  'no-image.png' == item.image %}
            <img class="card-img-top" src="/static/img/{{ item.image }}">
            {% else %}
            <img class="card-img-top" src="/static/img/{{ item.username }}/{{item.name}}/{{ item.image }}">
            {% endif %}
          <h4 class="card-title">{{item.name}} </h5>
          <h5 class="price" id="item-details">Price: ${{ '%0.2f'|format(item.price|float)  }}</h5>
          <p class="category" id="category"> Category: {{ item.category.name.split('.')[-1]  }}</p>
          <input type="number" name="id" value="{{ item.id }}" id="id" hidden>
          <input type="text" id="username" value="{{ current_user }}"  hidden>
        </div>
        <p>
          <i> Overall Rating
        <span class="fa fa-star checked" id="star1"></span>
        <span class="fa fa-star checked" id="star2"></span>
        <span class="fa fa-star checked" id="star3"></span>
        <span class="fa fa-star" id="star4"></span>
        <span class="fa fa-star" id="star5"></span>
        <span id="overall-rating"> No rating Yet </span></i>
      </p>
        <div>
            {% if current_user == item.username  %}
          <a class="btn btn-secondary" data-toggle="modal" data-target="#EditPrice" id="myModal" style="margin: 15px; text-align:center; display:block;">Update</a>
        <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" id="myModal" style="margin:15px; text-align:center; display:block;">Delete</a>
        {% endif %}
      </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please confirm.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              <p id="errorMeassge" style="text-align: left;">You're about to delete <b>{{item.name}}! </b>Are you sure?</p>
              </div>
              <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="delete_item" id="deleteForm">
                  <input type="number" id="delete-id" name="id" value="{{ item.id }}" required hidden>
                  <button type="submit" class="btn btn-danger" style="text-align: left;">Delete</button>
              </form>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="card-footer">
          <small id="small" class="text-muted">Created at: <b>{{ item.date }} </b> by <b> {{ item.username }}</b></small>
        </div>
      </div>
  </div>
    </div>
</div>
    {%  if message  %}
    <p> <b> {{  message  }} </b></p>
    {%  endif %}
  <div class="modal fade" id="EditPrice" tabindex="-1" role="dialog" aria-labelledby="EditPricelLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="EditPriceLabel">Edit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
               <input type="number" name="id" value="{{ item.id }}" id="edit-id" required hidden>
              <div class="form-group">
                <label for="price" class="col-form-label">Price:</label>
                <input type="number" name="price" id="id-price">
              </div>
              <div class="form-group">
                <label for="Category" class="col-form-label">Category:</label>
                <select name="Category" id="category-select">
                    <option value="Finance">Finance</option>
                    <option value="IT">IT</option>
                    <option value="TV">TV</option>
                    <option value="Services">Services</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                </select>
              </div>
              <div class="form-group">
              <label for="Description" class="col-form-label">Description:</label>
              <textarea  name="Description" id="id-description" rows="4" cols="50" maxlength="250"></textarea>
            </div>
              <hr>
              <button type="submit" class="btn btn-primary" id="edit-button">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
          </div>
        </div>
      </div>
  </div>


<section class="container py-5">
  <div class="row">
      <div class="col-md-12">
          <ul id="tabs" class="nav nav-tabs nav-fill">
              <li class="nav-item"><a href="#review1" data-target="#review1" data-toggle="tab" class="nav-link active">Review</a></li>
              <li class="nav-item"><a href="#description" data-target="#description-tab" data-toggle="tab" class="nav-link">Description</a></li>
              <li class="nav-item"><a href="#messages1" data-target="#messages1" data-toggle="tab" class="nav-link">Messages</a></li>
          </ul>
          <div id="tabsContent" class="tab-content p-5 border border-top-0 rounded">
              <div id="review1" class="tab-pane fade active show">
                <div class="row pb-2">
                  <div class="card" id="RatingCard" style="margin-left: 7%;">
                    <div class="row">
                    <div class="col-12" style="margin-bottom: 5px;">
                    <div class="comment-box ml-2">
                    <input type="number" id="comment-item-id" value="{{ item.id }}" required hidden>
                    <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
                    <div class="comment-area"> <textarea class="form-control" placeholder="what is your view?" rows="4" id="comment-area"></textarea> </div>
                    <div class="comment-btns mt-2">
                    <div class="row">
                    <div class="col-6">
                    <div class="pull-left"> <button class="btn btn-secondary btn-sm" id="RatingCancel" onclick="RatingHide()">Cancel</button> </div>
                    </div>
                    <div class="col-6">
                    <div class="pull-right"> <button class="btn btn-success send btn-sm" id="SendRaiting"> Submit </button> </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
               </div>
              </div>
                    {%  if item.reviews  %}
                    {% for review in item.reviews %}
                  <div class="card group1" id="card{{review.id}}" style="display: block;">
                      <div class="row">
                      <div class="col-12" style="margin-bottom: 5px;">
                      <p>
                        <img src="/static/img/img_avatar.png" class="avatar">
                        {{ review.created_by }}
                        <span class="fa fa-star checked" id="star{{ review.id }}1"></span>
                        <span class="fa fa-star checked" id="star{{ review.id }}2"></span>
                        <span class="fa fa-star checked" id="star{{ review.id }}3"></span>
                        <span class="fa fa-star" id="star{{ review.id}}4"></span>
                        <span class="fa fa-star" id="star{{ review.id }}5"></span>
                        <div>  <i>{{ review.text }} </i></div>
                        </p>
                      </div>
                      </div>
                    </div> 
                  {% endfor %}
                  {%  endif %}
              </div>
            </div>
              <div id="description-tab" class="tab-pane fade">
                  <div class="row pb-2">
                    <div class="form-group" id="description-div" style="display: none;">
                      <input type="number" name="id" value="{{ item.id }}" id="item-id" required hidden>
                      <p>Update Description:</p>
                      <textarea  name="description" id="id-description" rows="4" cols="50" maxlength="250"> </textarea>
                      <button class="btn btn-secondary btn-sm" id="update-description-btn"> Save</button>
                    </div>
                    <div class="col-md-5">
                      {%  if item.description  %}
                      <p id="description-text"> <i> {{ item.description}} </i> </p>
                      {% else %}
                      <p id="description-text"> <i> Product has no Description yet </i> </p>
                      {%  endif %}
                    </div>
                      <!-- <div class="col-md-5"><img src="//dummyimage.com/1005x559.png/5fa2dd/ffffff" class="float-right img-fluid img-rounded"></div> -->
                  </div>
              </div>
              <div id="messages1" class="tab-pane fade">
                  <div class="list-group"><a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">44</span> 
                    Message 1</a> <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">8</span> 
                    Message 2</a> <a href="" class="list-group-item d-inline-block"><span class="float-right badge badge-pill badge-dark">23</span> 
                    Message 3</a> <a href="" class="list-group-item d-inline-block text-muted">Message n..</a></div>
              </div>
          </div>
      </div>
  </div>
</section>

<script>

function getItemRating(){
  let id = $("#id").val()
  $.ajax({
        url: "/api/reviews/item/rating",
        method: "get",
        headers: { "Content-Type": "application/json",},
        data:  { "id": `${id}`
        },
        success: data => {
          for (var i=1; i<=5; i++ ){
            var star = document.getElementById('star' + i )
            if ( i <= data.rating ){
                star.classList.add('checked');
            }
            else { star.classList.remove('checked')}
          }
        document.getElementById('overall-rating').innerText = parseFloat(data.rating_float).toFixed(2) + ' based on (' + data.review_number +' reviews)'
        },
        error: (error) => {
            console.log('error:', error);
        }
      });
   }

function UpdateStarRatings(review_id, rating){
          for (var i=1; i<=5; i++ ){
            var star = document.getElementById('star'+ review_id + i)
            if ( i <= rating ){
                star.classList.add('checked');
            }
            else {
              star.classList.remove('checked');
            }
          }
   }

function setRveiewsRating(){
  let id = $("#id").val()
  $.ajax({
        url: "/api/reviews",
        method: "get",
        headers: { "Content-Type": "application/json",},
        data:  { "item_id": `${id}`
        },
        success: data => {
          data.forEach(review => {
            UpdateStarRatings(review.id, review.rating)
          });
        },
        error: (error) => {
            console.log('error:', error);
        }
      });
   }

$(document).ready(function() {
  $('#deleteForm').submit(function(e) {
    e.preventDefault();
    let id = $("#delete-id").val()
    $.ajax({
        url: "/items/" + id,
        type: "POST",
        headers: {"Content-Type": "application/json",},
        data:  { "id": `${id}`},
        success: function(data){
          window.location.href = "/products"
        },
        error: function (xhr) {
            if (xhr.status === 403) {
               $('#errorMeassge').text('User is not allowed to delete this item!')
            }
        }
      });
   }
)});

$(document).ready(function() {
    getItemRating()
    setRveiewsRating()
});

function ShowDescription() {
  var x = document.getElementById("description-div");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function ShowReview(){
  var x  = document.getElementById('RatingCard')
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

$(document).ready(function(){
  var hiddenCardsOnLoad = $(".card:hidden").length;
  if (hiddenCardsOnLoad === 0) {
    $("#loadMore").hide();
  }
  // Initially show the first 4 cards
  $("#review1 > .card.group1").slice(0, 2).show();

  // Use event delegation to handle click on dynamically added elements
  $("#review1").on("click", "#loadMore", function(e){
    e.preventDefault();

    // Check if the button is in "Show Less" state
    if ($("#loadMore").text() === "Show Less") {
      // Hide 2 cards
      $(".card.group1:visible").slice(0, 2).hide()
      $("#loadMore").text("Load More"); // Change button text to "Load More"
    } else {
      // Show the next set of cards
      $(".card.group1:hidden").slice(0, 4).slideDown();
      $("#loadMore").text("Show Less"); // Change button text to "Show Less"
    }
  });
});


function RatingHide(){
  document.getElementById('RatingCard').style.display = "none"
}

document.getElementById('edit-button').onclick = editItem;
document.getElementById('SendRaiting').onclick = addReview;
document.getElementById('update-description-btn').onclick = updateDescription;

</script>

{% endblock %}