{% extends "base.html" %}
{% block html_read %}

{% block javascript %}
    <script type="text/javascript">
        {% include "js/main.js" %}
    </script>
{% endblock %}
<style>

.padding-0{
    padding-right:0;
    padding-left:50px;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.card-img-top {
  width: 100%;
  height: 12vw;
  max-height: 12vw;
  object-fit: cover;
}

.card{
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
  width: 14vw;
  /* border: 2px solid #969696; */
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #03a9f4;
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #03a9f4;
}
.range-wrap{
  width: 170px;
  position: relative;
}
.range-value{
  position: absolute;
  top: -50%;
}
.range-value span{
  width: 10px;
  height: 24px;
  line-height: 10px;
  text-align: center;
  background: #03a9f4;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-value span:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #03a9f4;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
</style>


<div class="row col-1" style="float: right;">
 <button class="btn btn-secondary btn-sm"> <a class="nav-link" data-toggle="modal" data-target="#addItem" href="#">Add Product</a> </button> 
</div>

  <div class="container" style="margin-top: 12px;">
      <div class="row pt-2">
        <div class="col-md-12">
          <input class="form-control mr-sm-2" id="filter" onkeyup="Search()" type="text" placeholder="Search for products by name...">
        </div>
      </div>
    <br/>
  </div>

<section class="container" id="app">
      <div class="row col-2" style="float: left;">
        <article class="filter-group">
          Categories
          <hr>
          <div class="filter-content collapse show" id="collapse_2">
            <div class="card-body">
              <label class="custom-control custom-checkbox" v-for="category in categories" :key="category[2]">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  :data-category="category[2]"
                  :disabled="category[1] === 0"
                  @change="handleCategoryChange"
                />
                <div class="custom-control-label">
                  [[ category[0] ]]
                  <b class="badge bg-primary float-right">[[ category[1] ]]</b>
                </div>
              </label>
            </div>
          </div>
        </article>
          <hr>
          <article class="filter-group" style="float: left; margin-left: 0;">
            Sort:  <button type="button" class="btn btn-secondary btn-sm" @click="toggleSortOrder">
              <span v-if="sortOrder === 'asc'" class="bi bi-sort-up-alt" style="font-size: 1rem"></span>
              <span v-else class="bi bi-sort-down" style="font-size: 1rem"></span>
            </button>
            <div class="filter-content collapse show" id="collapse_3">
              <div class="card-body">
                <!-- <div class="range-wrap"> -->
                  <!-- <input v-model.number="max" v-model.number="min" type="range">
                  <p> Range <span style="color:blue"></span> $[[ min ]] - $[[ max ]] </p> 
                  <div class="badge bg-primary ml-3">$[[ min ]] - $[[ max ]] </div>
                  <input v-model.number="max" class="form-control" type="number" id="max-price" hidden>
                  <div class="badge bg-primary ml-3">Total Products: [[products.length]]</div>
                </div> -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Min price</label>
                    <input v-model="min" class="form-control" id="minPrice" @input="validateMin" placeholder="0"
                    min="0" :max="max" value="0" pattern="[1-9][0-9]*" type="text" required>
                  </div>
                  <div class="form-group text-right col-md-6">
                    <label>Max price</label>
                    <input v-model="max" class="form-control" id="maxPrice" value="0" placeholder="10000"
                    @input="validateMax" pattern="[1-9][0-9]*" type="text" :min="min" max="10000" style="width: 100px;" required>
                  </div>
                </div>
                <!-- <button class="btn btn-block btn-primary" @click="filterByPrice">Apply</button> -->
              </div>
            </div>
          </article>
      </div>

      <div class="row g-0 col-auto padding-0" id="mycard" style="justify-content: left;">
          <product-component v-for="product in products" :key="product.id" :cart="cart" class="row g-0 col-auto"
                 :product="product" :min="min" :max="max" style="justify-content: left;">
          </product-component>
      </div>
      <!-- <div v-if="displayCart" class="list-group" aria-labelledby="cartDropdown">
        <div v-for="(item, index) in cart" :key="index" class="list-group-item d-flex justify-content-between">
          <div class="mb-2">
            <div class="ml-3 font-weight-bold">[[ item.name ]] : [[ item.price ]]</div>
               <button @click="displayCart= !displayCart"
                    class="btn btn-sm btn-success ml-3"
                    id="cartDropdown"
                    aria-haspopup="true"
                    aria-expanded="false"><i class="fas fa-shopping-cart mr-1"></i>
                  [[ cart.length ]]
               </button>
        </div>
       </div>
      </div> -->
</section>

  <div class="modal fade" id="addItem" role="dialog" aria-labelledby="addItemlLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addItemLabel">Add Product</h5>
        </div>
        <div class="modal-body">
          <form enctype="multipart/form-data" data-toggle="validator" id="createItem">
            <b> <p id="error" style="text-align: left;"></p>
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" id="item-name" placeholder="Item Name"  maxlength="15" required>
             </div>
            <div class="form-group">
              <label for="price" class="col-form-label">Price: </label>
              <input type="number" step="any" name="price" id="item-price" placeholder="99.99" max="10000" min="1" required>
            </div>
            <div class="form-group" form-group-file>
              <label for="file" class="col-form-label">Upload Photo:</label>
              <input type="file" id="file" name="file" class="form-control" data-filesize="1000000" data-filesize-error="File must be smaller then 1MB" accept="image/*" required/>
            </div>
            <div class="form-group">
              <label for="Category" class="col-form-label">Category:</label>
              <select name="Category">
                  <option value="Finance">Finance</option>
                  <option value="IT">IT</option>
                  <option value="TV">TV</option>
                  <option value="Services">Services</option>
                  <option value="Miscellaneous">Miscellaneous</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Description" class="col-form-label">Description:</label>
              <textarea name="Description" id="add-description" rows="4" cols="50" maxlength="250"></textarea>
            </div>
            <button id="submit-button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<script>
const App = Vue.createApp({
  name: "App",
  delimiters: ['[[', ']]'],
  data() {
    return {
      min: 1,
      max: 10000,
      products: [],
      categories: [],
      cart: Vue.ref([]),
      sortOrder: 'asc',
      displayCart: true,
      selectedCategories: []
    };
  },
  async beforeMount() {
    await this.getProducts();
    await this.fetchCategories();
    this.products.forEach(product => {
      this.getItemRating(product.id);
    });
  },
  methods: {
    async getProducts() {
      try {
        const res = await fetch('/api/items');
        const products = await res.json();
        this.products = products;
        const maxPrice = Math.max(...this.products.map(product => product.price));
        const minPrice = Math.min(...this.products.map(product => product.price));
        this.max = maxPrice;
        this.min = minPrice;
        } catch (error) {
        console.error('Error fetching products:', error);
      }
    },
    async fetchCategories() {
      try {
        const res = await fetch('/api/categories/category_items_len/');
        this.categories = await res.json();
      } catch (error) {
        console.error('Error fetching categories:', error);
      }
    },
    async getItemRating(itemId) {
      try {
        const response = await fetch(`/api/reviews/item/rating?id=${itemId}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        });
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        const data = await response.json();
        const product = this.products.find((p) => p.id === itemId);
        if (product) {
          product.rating = data.rating;
          product.reviewNumber = data.review_number;
          document.getElementById('overall-rating' + product.id + '-float').innerText = " " + parseFloat(data.rating_float).toFixed(2);
        }
      } catch (error) {
      }
    },
    filterByCategory() {
    var selectedCategories = this.getSelectedCategories();
    var cards = document.querySelectorAll('.card');
    cards.forEach(function (card) {
        var category = card.getAttribute('data-category');
        var displayCard = selectedCategories.length === 0 || selectedCategories.includes(category);
        if (displayCard) {
            $(card).slideDown(300);
        } else {
            $(card).slideUp(300);
        }
      });
    },
    handleCategoryChange() {
      this.selectedCategories = this.getSelectedCategories();
      this.filterByCategory();
    },
    getSelectedCategories() {
    var selectedCategories = [];
    var checkboxes = document.getElementsByClassName("custom-control-input");
    for (var i = 0; i < checkboxes.length; i++) {
        if (!checkboxes[i].disabled && checkboxes[i].checked) {
            var categoryId = checkboxes[i].getAttribute("data-category");
            selectedCategories.push(categoryId);
          }
      }
      return selectedCategories;
      },
    toggleSortOrder() {
      this.sortOrder = this.sortOrder === 'asc' ? 'desc' : 'asc';
      console.log('Sort Order:', this.sortOrder);
      this.sortProducts();
    },
    sortProducts() {
      if (this.sortOrder === 'asc') {
      this.products.sort((a, b) => a.price - b.price);
      } else {
      this.products.sort((a, b) => b.price - a.price);
      }
    },
    filterByPrice() {
        var selectedCategories = this.getSelectedCategories();
        var minPrice = parseFloat(document.getElementById("minPrice").value) || 0;
        var maxPrice = parseFloat(document.getElementById("maxPrice").value) || 10000;
        var cards = document.getElementsByClassName("card");
        for (var i = 0; i < cards.length; i++) {
          var categoryElement = cards[i].getAttribute("data-category");
          var category = categoryElement ? categoryElement.toUpperCase() : null;

          var priceElement = cards[i].querySelector("[data-price]");
          var price = priceElement ? parseFloat(priceElement.getAttribute("data-price")) : 0;
          var isCategoryMatch = !this.selectedCategories || this.selectedCategories.length === 0 || this.selectedCategories.includes(category);
          var isPriceMatch = price >= minPrice && price <= maxPrice;
          var displayCard = isCategoryMatch && isPriceMatch;
          if (displayCard) {
            cards[i].style.display = "";
          } else {
            cards[i].style.display = "none";
          }
        }
      },
      validateMin() {
        const productMinPrice = Math.min(...this.products.map(product => product.price));
        this.min = this.min.replace(/^0+/, '');
        if (this.min === '' || isNaN(this.min)) {
              this.min = productMinPrice;
          }
          if (this.min > this.max) {
            this.min = this.max;
          }
       },

     validateMax() {
      const productMaxPrice = Math.max(...this.products.map(product => product.price));
      this.max = this.max.replace(/^0+/, '');
      if (this.max === '' || isNaN(this.max)) {
        this.max = productMaxPrice;
        }

      if (this.max > productMaxPrice) {
        this.max = productMaxPrice;
      }
      if (this.max < this.min) {
          this.max = this.min;
      }
    },
  },
});
// cursor: pointer" @click="redirectToItem(product.id)
// <button @click="addToCart(product)" class="btn btn-success">+</button>
App.component('product-component', {
  props: ['product', 'min', 'max','cart'],
  delimiters: ['[[', ']]'],
  template: `
    <div v-if="product.price<=Number(max) && product.price>=Number(min)" class="col-lg-auto">
      <div class="card" :id="product.id" :data-category="product.category_id"
        style="margin: 1px; margin-bottom: 3px; cursor: pointer" @click="redirectToItem(product.id)">
        <div class="card-body">
          <img :src="'static/img/' + product.username + '/' + product.name + '/' + product.image" class="card-img-top">
          <h5 class="card-title"> [[ product.name ]]  </h5>
         <span class="badge bg-danger" v-if="product.price<=90">WOW</span>
         <span class="badge bg-primary" v-else-if="product.price>90 && product.price<=1000">Value</span>
         <span class="badge bg-success" v-else-if="product.price>1000">TOP</span>  $[[ product.price  ]]
         <input type="number" :data-price="product.price" hidden>
        </div>
        <p> <i>
          <span v-for="i in 5" :key="i" class="fa fa-star" :class="{ 'checked': i <= product.rating }"></span>
          <span :id="'overall-rating' + product.id + '-float'"></span></i>
          <span :id="'overall-rating' + product.id"> ([[ product.reviewNumber ]])</span>
        </p>
        <div class="card-footer">
          <small class="text-muted">Created: [[ product.date ]] by [[ product.username ]] </small>
        </div>
      </div>
    </div>
  `,
  methods: {
    redirectToItem(itemId) {
      window.location.href = 'items/' + itemId;
    },
    addToCart(product) {
      console.log('product', product)
      this.cart.push(product)
      console.log('cart', this.cart)
    },
  },
});
App.mount('#app');

</script>

<script>

function Search() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("filter");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("mycard");
    cards = cardContainer.getElementsByClassName("card");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-body h5.card-title");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "";
        } else {
            cards[i].style.display = "none";
        }
    }
}

</script>

{% endblock %}


