{% extends "base_old.html" %}
{% set include_block_app_js  = true %}

{% block more_css %}
<style>
:root{
    --color-primary: #2354d1;
    --color-secondary: #2354d1;
    --color-tertiary: #2354d1;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.btn2{
    display: inline-block;
    padding: 12px 36px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    color: white;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btn2.active,
.btn2:hover{
    background-color: var(--color-secondary);
    border-color: var(--color-tertiary);
}
.text-center{
  text-align: center;
}

.container {
    max-width: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media(min-width: 1440px) {
    .container {
        max-width: 1310px;
    }
}
section{
  padding: 64px 0;
}
header{
  margin: 32px 0;
}
.hide{
    display: none;
}

.tab-nav{
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid gainsboro;
}
.tab-nav button{
    width: 100%;
}
.tab-nav ul {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.tab-nav ul.show{
    display: block;
}
@media(min-width: 992px){
    .tab-nav {
        max-width: 100%;
        border: 0;
    }
    .tab-nav ul {
        gap: 16px;
        flex-direction: row;
    }
}

.tab-content{
    padding: 32px;
    margin-top: 20px;
    border: 1px solid var(--color-primary);
}
.mobile-select{
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 12px 16px;
    padding-right: 48px;
    cursor: pointer;
}
.mobile-select::after{
    content: '\f282';
    font-family: bootstrap-icons;
    display: inline-block;
    position: absolute;
    line-height: 1;
    right: 16px;
    top: 14px;
}
.mobile-select.active::after{
    transform: rotate(180deg);
}
@media(min-width: 992px){
    .mobile-select{
        display: none;
    }
    .tab-nav ul{
        display: flex;
    }
}

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

.card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        justify-content: center;
        width: 155vh;
        text-align: center;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
    } 
.card-wrapper{
    margin-top: 120px;
    margin-bottom: 1%;
    width: 100%;
    height: 75vh;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        margin-top: 270px;
        margin-bottom: 1%;
        margin-left: 2%;
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        margin-top: 50px;
        padding-top: 0;
    }
}
</style>
{% endblock %}

{% block html_read %}
<div class = "card-wrapper">
  <div class = "card">
    <div class = "product-imgs">
      <div class = "img-display">
        <div class = "img-showcase">
          <img src="/static/img/{{ item.username }}/{{item.name}}/{{ item.image }}">
          <img src="/static/img/{{ item.username }}/{{item.name}}/{{ item.image }}">
          <img src="/static/img/{{ item.username }}/{{item.name}}/{{ item.image }}">
          <img src="/static/img/{{ item.username }}/{{item.name}}/{{ item.image }}">
          </div>
      </div>
      <div class = "img-select">
        <div class = "img-item">
          <a href = "#" data-id = "1">
            <img src="/static/img/{{ item.username }}/{{item.name}}/{{ item.image }}" alt = "shoe image">
          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "2">
            <img src = "https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_2.jpg" alt = "shoe image">
          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "3">
            <img src = "https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_3.jpg" alt = "shoe image">
          </a>
        </div>
        <div class="img-item">
          <a href="#" data-id="4">
            <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_4.jpg" alt = "shoe image">
          </a>
        </div>
      </div>
    </div>
    <!-- card right -->
    <div class = "product-content">
      <h2 class = "product-title">{{ item.name }}</h2>
      <div class = "product-rating">
        <span class="fa fa-star" id="star1"></span>
        <span class="fa fa-star" id="star2"></span>
        <span class="fa fa-star" id="star3"></span>
        <span class="fa fa-star" id="star4"></span>
        <span class="fa fa-star" id="star5"></span>
        <span id="overall-rating"> No rating Yet </span></i>
      </div>

      <div class = "product-price">
        <p class = "last-price">Old Price: <span>{{ '%0.2f' % item.price|float}}</span></p>
        <p class = "new-price" id="new-price">New Price: <span>{{ '%0.2f' % item.price|float }}</span></p>
      </div>

      <div class = "product-detail">
        <h2>about this item: </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p>
        <ul>
          <li>Color: <span>Black</span></li>
          <li>Available: <span>in stock</span></li>
          <li id="category">Category: <span>{{ item.category.name.split('.')[-1] }}</span></li>
          <li>Shipping Area: <span>All over the world</span></li>
          <li>Shipping Fee: <span>Free</span></li>
        </ul>
      </div>

      <div class = "purchase-info">
        <input type = "number" min = "0" value = "1">
        <button type = "button" class="btn" id="add-to-cart" data-target="#addToCartMessage" onclick="addItemToCart()">
          Add to Cart <i class = "fas fa-shopping-cart"></i>
        </button>
        <button type = "button" class = "btn">Compare</button>
      </div>

      <div class = "social-links">
        <p>Share At: </p>
        <a href = "#">
          <i class = "fab fa-facebook-f"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-twitter"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-instagram"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-whatsapp"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-pinterest"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- <a class="btn btn-info" id="add-to-cart" data-toggle="modal" data-target="#addToCartMessage"> Add to Cart</a> -->
<!-- {% if current_user == item.username  %}
<a class="btn btn-secondary" data-toggle="modal" data-target="#EditItem"  style="margin: 15px; text-align:center; display:block;">Update</a>
<a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"  style="margin:15px; text-align:center; display:block;">Delete</a>
{% endif %} -->

<section class="container" style="margin-top: 180px;">
  <div class="tab-container">
      <nav class="tab-nav">
          <div class="mobile-select"> <i class="bi bi-chevron-down"></i></div>
          <ul>
              <li><button class="btn2 tab-btn active" id="html">Reviews</button></li>
              <li><button class="btn2 tab-btn" id="csss">Specification</button></li>
              <li><button class="btn2 tab-btn" id="js">Details</button></li>
          </ul>
      </nav>
      <div class="tab-content">
          <div class="tab-item" data-id="html" id="reviewTab">
            {%  if item.reviews  %}
            {% for review in item.reviews %}
          <div class="card group1" id="card{{review.id}}" style="display: block; width:550px; margin-bottom: 2px;">
              <div class="row">
              <div class="col-12">
              <p>
                <div style="display: flex; align-items: center; justify-content: center;">
                  <img src="/static/img/img_avatar.png" class="avatar" style="padding: 5px;">
                  <span style="text-align: center;">{{ review.created_by }}</span>
                </div>
                <span class="fa fa-star checked" id="star{{ review.id }}1"></span>
                <span class="fa fa-star checked" id="star{{ review.id }}2"></span>
                <span class="fa fa-star checked" id="star{{ review.id }}3"></span>
                <span class="fa fa-star" id="star{{ review.id}}4"></span>
                <span class="fa fa-star" id="star{{ review.id }}5"></span>
                </p>
                <hr>
                <div><p style="text-align: left; padding: 15px;">{{ review.text }}
                  CSS (Cascading Style Sheets) is a stylesheet language used for describing the presentation and
                  layout of HTML documents. It plays a critical role in web development by allowing web developers
                  to control the visual appearance of web pages.
                </p></div>
                </p>
              </div>
              </div>
          </div> 
          {% endfor %}
          {%  endif %}
          <div class="row pb-2" style="width:700px">
            <div class="card" id="RatingCard" style="width:550px; margin-left: 35px;">
              <div class="row">
              <div class="col-12" style="margin-bottom: 5px;">
              <div class="comment-box ml-2">
              <input type="number" id="comment-item-id" value="{{ item.id }}" required hidden>
              <div class="rating" style="padding:10px;"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
              <div class="comment-area" style="width:500px; padding:10px;"> <textarea class="form-control" placeholder="what is your view?" rows="4" id="comment-area"></textarea> </div>
              <div class="comment-btns mt-2">
              <div class="row">
              <div class="col-6">
              <div class="pull-left"> <button class="btn btn-secondary btn-sm" id="RatingCancel" onclick="RatingHide()">Cancel</button> </div>
              </div>
              <div class="col-6">
              <div class="pull-right"> <button class="btn btn-success send btn-sm" onclick="addReview()"> Submit </button> </div>
              </div>
              </div>
              </div>
              </div>
              </div>
         </div>
         </div>
         </div>
         </div>
          <div class="tab-item hide" data-id="csss">
              <h3>CSS</h3>
              <p>CSS (Cascading Style Sheets) is a stylesheet language used for describing the presentation and
                  layout of HTML documents. It plays a critical role in web development by allowing web developers
                  to control the visual appearance of web pages.</p>
          </div>
          <div class="tab-item hide" data-id="js">
              <h3>JavaScript</h3>
              <p>JavaScript is a high-level, versatile, and widely used programming language primarily known for
                  its role in web development. It allows developers to add interactivity, dynamic behavior, and
                  complex functionality to web pages. JavaScript can be executed in web browsers, making it a core
                  technology for client-side scripting.</p>
          </div>
      </div>
  </div>
</section>

<!-- Modals -->

<div class="modal fade" id="deleteModal"  data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please confirm.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p id="errorMeassge" style="text-align: left;">You're about to delete <b>{{item.name}}! </b>Are you sure?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="delete_item" id="deleteForm">
          <input type="number" id="delete-id" name="id" value="{{ item.id }}" required hidden>
          <button type="submit" class="btn btn-danger" style="text-align: left;">Delete</button>
      </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EditItem" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="EditItemlLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditItemLabel">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <input type="number" name="id" value="{{ item.id }}" id="edit-id" required hidden>
          <div class="form-group">
            <label for="price" class="col-form-label">Price:</label>
            <input type="number" name="price" id="id-price">
          </div>
          <div class="form-group">
            <label for="Category" class="col-form-label">Category:</label>
            <select name="Category" id="category-select">
                <option value="Finance">Finance</option>
                <option value="IT">IT</option>
                <option value="TV">TV</option>
                <option value="Services">Services</option>
                <option value="Miscellaneous">Miscellaneous</option>
            </select>
          </div>
        <div class="form-group">
          <label for="Description" class="col-form-label">Description:</label>
          <textarea  name="Description" id="id-description" rows="4" cols="50" maxlength="250"></textarea>
        </div>
          <hr>
          <button type="submit" class="btn btn-primary" id="edit-button" onclick="editItem()">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addToCartMessage" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="addToCartMessageTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">This product has been added to your cart.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          {% if  'no-image.png' == item.image %}
          <img class="card-img-top" src="/static/img/{{ item.image }}">
          {% else %}
          <img class="card-img-top" src="/static/img/{{ item.username }}/{{item.name}}/{{ item.image }}">
          {% endif %}
        <h5 class="card-title">{{item.name}} </h5>
        <h5 class="price" id="item-details">Price: ${{ '%0.2f'|format(item.price|float)  }}</h5>
        <p class="category" id="category"> Category: {{ item.category.name.split('.')[-1]  }}</p>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block javascript %}
<script>

const select = document.querySelector('.mobile-select');
const selectDynamicText = () => {
    //mobile select
    Array.from(select.nextElementSibling.children).forEach(li => {
        Array.from(li.children).forEach(child => {
            if (child.classList.contains('active')) {
                let activeText = child.textContent;
                select.textContent = activeText;
            }
        });
    });
}
select.addEventListener('click', function () {
    this.classList.toggle('active');
    this.nextElementSibling.classList.toggle('show');
});

const handleCloseSelect = () => {
    select.classList.remove('active');
    select.nextElementSibling.classList.remove('show');
}

const tabContainer = document.querySelector('.tab-container');

tabContainer.addEventListener('click', e => {
    e.stopPropagation();
    const tabNavs = document.querySelectorAll('.tab-nav button');
    const tabItems = document.querySelectorAll('.tab-item');
    if (e.target.classList.contains('tab-btn')) {
        tabNavs.forEach(tabNav => tabNav.classList.remove('active'));
        tabItems.forEach(tabItem => {
            tabItem.classList.add('hide');
            let tabId = tabItem.getAttribute('data-id');

            if (e.target.getAttribute('id') === tabId) {
                e.target.classList.add('active');
                tabItem.classList.remove('hide');
            }
        });
        selectDynamicText();
        handleCloseSelect();
    }
});

selectDynamicText();

const imgs = document.querySelectorAll('.img-select a');
const imgBtns = [...imgs];
let imgId = 1;

imgBtns.forEach((imgItem) => {
    imgItem.addEventListener('click', (event) => {
        event.preventDefault();
        imgId = imgItem.dataset.id;
        slideImage();
    });
});

function slideImage(){
    const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

    document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
}

window.addEventListener('resize', slideImage);

function addItemToCart() {
  let id = $("#edit-id").val();
  $.ajax({
      url: "/update-basket",
      method: "post",
      headers: { "Content-Type": "application/json",},
      data:  JSON.stringify({
            "item_id": `${id}`,
          }),
      success: data => {
        console.log('success', data)
      },
      error: (error) => {
        console.log('error', error)
      }
    });
  }

function getItemRating(item_id){
  let id = item_id
  $.ajax({
        url: "/api/reviews/item/rating",
        method: "get",
        headers: { "Content-Type": "application/json",},
        data:  { "id": item_id},
        success: data => {
          console.log('data', data)
          for (var i=1; i<=5; i++ ){
            var star = document.getElementById('star' + i )
            if ( i <= data.rating ){
                star.classList.add('checked');
            }
            else { star.classList.remove('checked')}
          }
        document.getElementById('overall-rating').innerText = parseFloat(data.rating_float).toFixed(2) + ' based on (' + data.review_number +' reviews)'
        },
        error: (error) => {
            console.log('error:', error);
        }
      });
   }

function UpdateStarRatings(review_id, rating){
          for (var i=1; i<=5; i++ ){
            var star = document.getElementById('star'+ review_id + i)
            if ( i <= rating ){
                star.classList.add('checked');
            }
            else {
              star.classList.remove('checked');
            }
          }
   }

function setRveiewsRating(id){
  $.ajax({
        url: "/api/reviews",
        method: "get",
        headers: { "Content-Type": "application/json",},
        data:  { "item_id": `${id}`
        },
        success: data => {
          data.forEach(review => {
            UpdateStarRatings(review.id, review.rating)
          });
        },
        error: (error) => {
            console.log('error:', error);
        }
      });
   }

$(document).ready(function() {
    var item_id = '{{ item.id }}'
    getItemRating(item_id)
    setRveiewsRating(item_id)
});

function editItem() {
      let id = $("#edit-id").val()
      let price = $("#id-price").val()
      let category = document.getElementById('category-select').value;
      let description = document.getElementById('id-description').value;
    $.ajax({
        url: "/update_product_ajax",
        method: "post",
        headers: { "Content-Type": "application/json",},
        data:  JSON.stringify({
                "id": `${id}`,
                "price": `${price}`,
                "category": `${category}`,
                "description": `${description}`
        }),
        success: data => {
            document.getElementById('new-price').innerText = `Price: $${parseFloat(data.price).toFixed(2)}`;
            document.getElementById('category').innerText = `Category: ${data.category.name}`;
            // document.getElementById('description-text').innerText = `${data.description}`;
            document.getElementById('close').click()
        },
        error: (response) => {
          if (response.status === 403) {
            $("#EditPriceLabel").text(response.responseJSON.detail)
         }
        }
      });
}

function addReview() {
      let review = $("#comment-area").val()
      let id = '{{ item.id }}'
      console.log('ietm_id', id)
      let username = '{{ current_user }}'
      let rating = document.querySelector('input[name="rating"]:checked').value;
    $.ajax({
        url: "/create_review_ajax",
        method: "post",
        headers: { "Content-Type": "application/json",},
        data:  JSON.stringify({
                "text": `${review}`,
                "item_id": `${id}`,
                "rating": `${rating}`,
                "created_by": `${username}`
        }),
        success: data => {
           const reviewDiv = document.getElementsByClassName('card group1')
           const newCard = `
           <div class="card group1" id="card${data.id}" style="display: flex; margin-left: 25px; margin-bottom:3; width:550px">
                <div class="row" style="margin-left:0;">
                <div class="col-12" style="margin-bottom: 3px; margin-left:0;">
                <p style="margin-left:0">
                  <div style="display: flex; align-items: center; justify-content: center;">
                  <img src="/static/img/img_avatar.png" class="avatar" style="padding: 5px;">
                  <span style="text-align: center;">${data.created_by}</span>
                </div>
                  <span class="fa fa-star checked" id="star${data.id}1"></span>
                  <span class="fa fa-star checked" id="star${data.id}2"></span>
                  <span class="fa fa-star checked" id="star${data.id}3"></span>
                  <span class="fa fa-star" id="star${data.id}4"></span>
                  <span class="fa fa-star" id="star${data.id}5"></span>
                  <div>  <i>${data.text} </i></div>
                </p>
                </div>
                </div>
           </div >
           `
            getItemRating(id)
            setRveiewsRating(id)

            // document.getElementById('RatingCancel').click()
            $("#reviewTab").append(newCard)
            // $("#home-tab-pane").append('<a href="#" id="loadMore" style="margin-left:0%">Load More</a>');
            // reviewDiv.style.display = "block";
            // window.location.href = `/items/${id}`
        },
        error: (response) => {
          if (response.status === 403) {
            $("#comment-area").val(response.responseJSON.detail)
         }
        }
      });
};

$(document).ready(function() {
  $('#deleteForm').submit(function(e) {
    console.log("click delete")
    e.preventDefault();
    let id = $("#delete-id").val()
    $.ajax({
        url: "/items/" + id,
        type: "POST",
        headers: {"Content-Type": "application/json",},
        data:  { "id": `${id}`},
        success: function(data){
          window.location.href = "/products"
        },
        error: function (xhr) {
            if (xhr.status === 403) {
               $('#errorMeassge').text('User is not allowed to delete this item!')
            }
        }
      });
   }
)});

function RatingHide(){
  document.getElementById('RatingCard').style.display = "none"
}

</script>
{% endblock %}