{% extends "base.html" %}
{% block html_read %}


{% block javascript %}
    <script type="text/javascript">
        {% include "js/main.js" %}
    </script>
{% endblock %}

  <div class="container">
      <div class="row pt-2">
        <div class="col-md-11">
          <input class="form-control mr-sm-2" id="filter" onkeyup="Search()" type="text" placeholder="Search for products..">
        </div>
      </div>
    <br/>

<div class="row">
  <div class="card-group col-12" id="mycard";>
    {% for item in items %}
    <div class="col-lg-auto">
    <div class="card"  id="card{{ item.id }}">
      <div class="card-body"  style="cursor: pointer"; onclick="location.href='{{ url_for('read_item', id=item.id) }}'" >
        {% if  'no-image.png' == item.image %}
        <img class="card-img-top" src="/static/img/{{ item.image }}">
        {% else %}
        <img class="card-img-top" src="/static/img/{{ item.username }}/{{item.name}}/{{ item.image }}">
        {% endif %}
       <h5 class="card-title">{{ item.name }} </h5>
        <h5 class="card-text">Price: ${{ '%0.2f'|format(item.price|float)  }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Category: {{ item.category.name.split('.')[-1] }}</h6>
      <hr>
      <div class="dropdown">
      <a href="{{ url_for('read_item', id=item.id) }}"><button class="btn btn-secondary stretched-link">Purchase Details</button></a>
    </div>
    <p>
    <span class="fa fa-star checked" id="star{{ item.id }}1"></span>
    <span class="fa fa-star checked" id="star{{ item.id }}2"></span>
    <span class="fa fa-star checked" id="star{{ item.id }}3"></span>
    <span class="fa fa-star" id="star{{ item.id }}4"></span>
    <span class="fa fa-star" id="star{{ item.id }}5"></span>
    <span id="overall-rating{{ item.id }}"> No rating Yet </span>
    </p>
      <div class="card-footer">
        <small class="text-muted">Added: {{ item.date.strftime('%Y-%m-%d') }} by {{ item.username }}</small>
      </div>
    </div>
    </div>
</div>
    {% endfor %}
  </div>
  </div>


<script>
function getItemRating(item_id){
  $.ajax({
        url: "/api/reviews/item/rating",
        method: "get",
        headers: { "Content-Type": "application/json",},
        data:  { "id": `${item_id}`
        },
        success: data => {
          for (var i=1; i<=5; i++ ){
            var star = document.getElementById('star'+ item_id + i )
            if ( i <= data.rating ){
                star.classList.add('checked');
            }
            else { star.classList.remove('checked')}
          }
        document.getElementById('overall-rating'+ item_id).innerText = '  (' + data.review_number + ')'
        },
        error: (error) => {
            console.log('error:', error);
        }
      });
   }

{% for item in items %}
var item_id = '{{ item.id }}'
getItemRating(item_id)
{% endfor %}

  function Search() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("filter");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("mycard");
    cards = cardContainer.getElementsByClassName("card");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-body h5.card-title");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "";
        } else {
            cards[i].style.display = "none";
        }
    }
}

 </script>


{% endblock %}


