{% extends "base_old.html" %}

{% set include_block_app_js  = true %}
{% set include_main_css = true %}

{% block more_css %}
<style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      /* max-width: 300px; */
      margin: auto;
      text-align: center;
      font-family: arial;
    }

    .title {
      color: grey;
      font-size: 18px;
    }

    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

</style>
{% endblock %}

{% block html_read %}
{% if profile %}
    <div class="card" style="margin-top: 10px; width: 21vw;">
      <img src="/static/img/{{ current_user }}/profile/{{ profile.avatar }}" id="avatar-image" style="width:100%">
      <h1 id="current_user">{{ current_user }}</h1>
      <p class="title">CEO & Founder, Birds</p>
      <p id="primary-email">Primary Email: {{ current_user }}</p>
      <p id="card-email"> Secondary Email: {{ profile.email }}</p>
      <p id="card-phone">Phone: {{ profile.number }}</p>
      <p id="card-address">Address: {{ profile.address }}</p>
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a>  
        <a href="#"><i class="fa fa-linkedin"></i></a>  
        <a href="#"><i class="fa fa-facebook"></i></a> 
      </div>
      <p><button>Contact</button></p>
    </div>
    <button class="dropbtn" data-toggle="modal" data-target="#UpdateProfile" style="float: left;">Update Profile</button>
{%  else  %}
<h2 style="text-align:center">No Profile yet, create one?</h2>
<button class="dropbtn" data-toggle="modal" data-target="#addProfile" style="float: left;">Add Profile</button>
    {% endif %}

    <div class="modal fade" id="addProfile" tabindex="-1" role="dialog" aria-labelledby="addProfileLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addProfileLabel">Create Profile</h5>
            </div>
            <div class="modal-body">
              <form action="create_profile" id="create-profile" method="post" enctype="multipart/form-data" data-toggle="validator">
                <div class="form-group">
                  <label for="email" class="col-form-label">Secondary Email:</label>
                  <input type="email" name="email" id="email" placeholder="Email" required>
                  <!-- <input type="text" name="name" id="item-name" pattern="^[a-zA-Z]*" oninvalid="setCustomValidity('Please use only letters')" placeholder="Item Name"  required> -->
                </div>
                <div class="form-group">
                  <label for="number" class="col-form-label">Number:</label>
                  <input type="tel" name="number" id="tel-number" placeholder="Telephone number" required>
               </div>

                <div class="form-group">
                  <label for="address" class="col-form-label">Number:</label>
                  <input type="text" name="address" id="address" placeholder="Address">
               </div>
                <div class="form-group" form-group-file>
                  <label for="file" class="col-form-label">Upload Avatar Photo:</label>
                  <input type="file" id="file" name="file" class="form-control" data-filesize="1000000" data-filesize-error="File must be smaller then 1MB" accept="image/*" required/>
                </div>
                <button id="submit-button" class="btn btn-primary">Save</button>
                <button id="Close-Profile" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    <div class="modal fade" id="UpdateProfile" tabindex="-1" role="dialog" aria-labelledby="UpdateProfileLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="UpdateProfileLabel"> Update Profile</h5>
            </div>
            <div class="modal-body">
              <form id="update-profile" enctype="multipart/form-data" data-toggle="validator">
                <div class="form-group">
                  <label for="email" class="col-form-label">Secondary Email:</label>
                  <input type="email" name="email" id="email" placeholder="Email">
             </div>
                <div class="form-group">
                  <label for="number" class="col-form-label">Number:</label>
                  <input type="tel" name="number" id="tel-number" placeholder="Telephone number">
               </div>
                <div class="form-group">
                  <label for="address" class="col-form-label">Address:</label>
                  <input type="text" name="address" id="address" placeholder="Address">
               </div>
                <div class="form-group" form-group-file>
                  <label for="file" class="col-form-label">Upload Avatar Photo:</label>
                  <input type="file" id="file" name="file" class="form-control" data-filesize="1000000" data-filesize-error="File must be smaller then 1MB" accept="image/*"/>
                </div>
                <button id="update-submit-button" class="btn btn-primary" style="margin-bottom:5px;">Save</button>
                <button type="button" id="Close-Update-Profile" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}


 {% block javascript %}
<script>

$(document).ready(function() {
  $('#update-profile').submit(function(e) {
    e.preventDefault();
    var formData = new FormData(this)
    $.ajax({
        url: "/user/update_profile",
        type: "POST",
        processData: false,
        contentType: false,
        data: formData,
        success: function(data){
            console.log('success', data)
            updateCard(data)
            // $('#UpdateProfile').modal('hide')
            $("[data-dismiss=modal]").trigger({ type: "click" });
        },
        error: function (xhr) {
            if (xhr.status === 404) {
               $('#UpdateProfileLabel').text('Unable to process Profile update, please try again later!')
            }
        }
      });
   }
)});

$(document).ready(function() {
  $('#create-profile').submit(function(e) {
    e.preventDefault();
    var formData = new FormData(this)
    $.ajax({
        url: "/user/create_profile",
        type: "POST",
        processData: false,
        contentType: false,
        data: formData,
        success: function(data){
              $('#addProfile').modal('hide');
              window.location.href = "/user/profile"
        },
        error: function (xhr) {
            if (xhr.status === 404) {
               $('#UpdateProfileLabel').text('Unable to process Profile update, please try again later!')
            }
        }
      });
   }
)});

function updateCard(data){
    var user = '{{ current_user }}'
    var img_path = `/static/img/${user}/profile/${data.avatar}`;
    $('#card-email').text(`Email: ${data.email}`)
    $('#card-address').text(`Address: ${data.address}`)
    $('#card-phone').text(`Address: ${data.number}`)
    $('#avatar-image').attr('src', img_path);
}
</script>
{% endblock %}