<html>
<head>
    <title>Demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../static/css/main.css"> -->
    <script src="../static/js/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<style>
  .footer {
    position: fixed;
    min-height:30px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(225, 220, 220);
    color: white;
    text-align: center;
  }
  .card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

.card{
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 3px solid #969696;
    text-align: center;
}

.dropbtn {
  background-color: #919d98;
  color: white;
  padding: 14px;
  font-size: 14px;
  border: none;
  border-radius: 4em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #606c97;}
  </style>

<body style="margin-left:30; margin-right:30">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('get_details')}}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="">Items <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item" active>
          <a class="nav-link" href="{{ url_for('get_details')}}">Products <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('get_user_items')}}">My Items </a>
         </li>
      </ul>
      {% if current_user %}
      <form class="form-inline my-2 my-lg-0" style="margin-right: 30px;">
        <div class="dropdown">
          <button class="dropbtn">{{ current_user }} </button>
          <div class="dropdown-content">
            <!-- <button type="button" class="btn btn-info">Logout</button> -->
            <a href="{{ url_for('logout') }}">Logout</a>
          </div>
        </div>
     </form>
      {% else %}
      <form class="form-inline my-2 my-lg-0">
        <input onclick="location.href='{{ url_for('home') }}';" value="Login" class="btn btn-primary" type="button" style="margin: 2px;">
     </form>
      <form class="form-inline my-2 my-lg-0">
        <input onclick="location.href='{{ url_for('signup') }}';" value="SignUp" class="btn btn-info" type="button">
     </form>
      {% endif %}
    </div>
  </nav>
  <!-- <hr> -->



{% block html_read %}

{% endblock %}


<script>
//fetchCategories
// function fetchCategories() {
//      fetch('/categories')
//     .then(response => response.json())
//     .then(data => {
//       const updatedDiv = document.getElementById('categories')
//       console.log('data', data)
//       const FormattedData = data.map(item=> `Name: ${item.name}, ID: ${item.id}`).join('<br>')
//       // $("#categories").show();
//       // updatedDiv.innerHTML = `<p> Name: ${data.name}, ID ${data.id} <\p>`
//       updatedDiv.innerHTML = FormattedData
//       if (updatedDiv.style.display === "none") {
//           updatedDiv.style.display = "block";
//           document.getElementById('fetch-button').innerHTML = "Hide Categories"
//         } else {
//           updatedDiv.style.display = "none";
//           document.getElementById('fetch-button').innerHTML = "Show Categories"
//         }
//     })
//     .catch(error => console.log("error:", error))
// }
// document.getElementById('fetch-button').onclick = fetchCategories;

//fetchEvents
// function fetchItems() {
//      fetch('/items')
//     .then(response => response.json())
//     .then(data => {
//       const updatedDiv = document.getElementById('events')
//       console.log('data', data)
//       const FormattedData = data.map(item => `Product_code: ${item.product_code},
//                                               Date: ${item.date},
//                                               Price: ${item.price},
//                                               Category: ${item.price}`).join('<br>')
//       updatedDiv.innerHTML = FormattedData
//       if (updatedDiv.style.display === "none") {
//           updatedDiv.style.display = "block";
//           document.getElementById('fetch-button2').innerHTML = "Hide Events"
//         } else {
//           updatedDiv.style.display = "none";
//           document.getElementById('fetch-button2').innerHTML = "Show Events"
//         }
//     })
//     .catch(error => console.log("error:", error))
// }
// document.getElementById('fetch-button2').onclick = fetchItems;

// createCategory
// async function createCategory() {
//   const categoryName = document.getElementById('cat-name').value

//   await fetch('/categories', {
//        method: "POST",
//        headers: {"Content-Type": "application/json",},
//        body: JSON.stringify({"name": categoryName}), // body data type must match "Content-Type" header
//   })
//   .then(response => response.json())
//   .then(result => {
//        const responseDiv = document.getElementById('responseDiv');
//        console.log('result', result)
//        if (result.detail){
//         responseDiv.innerHTML = `${result.detail}`
//        }
//        else {
//        responseDiv.innerHTML = `Created Category: ${result.name}, ID: ${result.id} `;
//        }
//        if (responseDiv.style.display === "none") {
//         responseDiv.style.display = "block";
//         }
// })
//   .catch(error => console.log("error:", error));
// }

// document.getElementById('create-cat').onclick = createCategory;

// function addItem(item) {
//         $("#catalog-table").append(
//             `<tr>
//             <td class="event-product_code">${item.name}</td>
//             <td class="event-product_code">${item.product_code}</td>
//             <td class="event-date">${item.date}</td>
//             <td class="event-price">$${parseFloat(item.price).toFixed(2)}</td>
//             <td class="event-purchase-button"><a href="/items/1"><button>Purchase Details</button></a></td>
//             </tr>`);
//     }


// $(document).ready(function () {
//     $.ajax({
//         url: "/items/",
//         success: data => {
//             data.map(item => addItem(item));
//             $("#catalog-table").show();
//         },
//         error: (_, textStatus, errorThrown) => {
//             $("#loading p")[0].innerText = `${textStatus}: ${errorThrown}`;
//         }
//       });
// });

// function createItem(item){

//     let name = $("#id-name").val()
//     let price = $("#id-price").val()
//     console.log("DATA:", name, price)
//   $.ajax({
//         url: "/items",
//         method: "post",
//         headers: { "Content-Type": "application/json",},
//         data:  JSON.stringify({
//                 "name": `${name}`,
//                 "price": `${price}`,
//         }),
//         success: data => {
//             console.log('data:', data)
//             addItem(data);
//             $("#catalog-table").show();
//         },
//         error: (error) => {
//           console.log("error:", error)
//         }
//       });
// }
// document.getElementById('create-item').onclick = createItem;


// function loadItems(){

//   $.ajax({
//       url: "/items/",
//       success: data => {
//         const updatedDiv = document.getElementById('items')
//         console.log('data', data)
//         const FormattedData = data.map(item => `Name: ${item.name}
//                                                 Product_code: ${item.product_code},
//                                                 Date: ${item.date},
//                                                 Price: ${item.price},
//                                                 Category: ${item.price}`).join('<br>')
//       updatedDiv.innerHTML = FormattedData
//       if (updatedDiv.style.display === "none") {
//           updatedDiv.style.display = "block";
//           document.getElementById('fetch-button3').innerHTML = "Hide Events"
//         } else {
//           updatedDiv.style.display = "none";
//           document.getElementById('fetch-button3').innerHTML = "Show Events"
//         }
//       },
//       error: (_, textStatus, errorThrown) => {
//           $("#loading p")[0].innerText = `${textStatus}: ${errorThrown}`;
//       }
//     });
// };

// document.getElementById('fetch-button3').onclick = loadItems;


</script>
  <div class="footer">
    <p> </p>
  </div>
</body>
</html>