@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway");

.card-img-top {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

.card{
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
  width: 17vw;
  /* border: 2px solid #969696; */
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dropbtn {
background-color: #919d98;
color: white;
padding: 14px;
font-size: 14px;
border: none;
border-radius: 4em;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
font-size: 13px;
}

.dropdown-content a {
color: black;
padding: 10px 14px;
text-decoration: none;
display: block;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 1px rgb(139, 133, 133) !important
  }
  .send {
  color: #fff;
  background-color: #13b942;
  border-color: #ff0000
  }
  .send:hover {
  color: #fff;
  background-color: #029cf5;
  border-color: #02b0f5
  }
  .rating {
  display: flex;
  margin-top: -10px;
  flex-direction: row-reverse;
  margin-left: -4px;
  float: left
  }
  .rating>input {
  display: none
  }
  .rating>label {
  position: relative;
  width: 19px;
  font-size: 25px;
  color: orange;
  cursor: pointer
  }
  .rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
  }
  .rating>label:hover:before,
  .rating>label:hover~label:before {
  opacity: 1 !important
  }
  .rating>input:checked~label:before {
  opacity: 1
  }
  .rating:hover>input:checked~label:before {
  opacity: 0.4
  }
  .price {
  color: grey;
  font-size: 22px;
  }
  
  .card button:hover {
  opacity: 0.7;
  }
  /* Style the tab */
  
  .checked {
  color: orange;
  }
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #606c97;}

.navbar-brand
{
  font-size: small;
}


.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 55px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

/* a {
  font-size:14px;
  font-weight:700
} */

.form-control {
  outline:none !important;
  box-shadow: none !important;
}
@media screen and (max-width:540px){
  .centerOnMobile {
    text-align:center
  }
}
body.modal-open {
padding-right: 0px !important;
}

h2 {
  vertical-align: center;
  text-align: center;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  align-items: center;
  text-align: center;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 30px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.Navbar {
  background-color: #46ACC2;
  display: flex;
  padding: 14px;
  font-family: sans-serif;
  color: white;
}

.Navbar__Link {
  padding-right: 8px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

.Navbar__Items {
    display:none;
  }

.Navbar__Items--right {
    margin-left:0;
  }

.Navbar__ToggleShow {
    display: flex;
  }

.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   }

}

* {margin: 0; padding: 0; box-sizing: border-box}


.container-breadcrumb {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	min-width: 480px;
	padding: 0 40px;
}

.breadcrumb {
	display: flex;
	border-radius: 6px;
	overflow: hidden;
	margin: auto;
	text-align: center;
	top: 50%;
	width: 100%;
	height: 38px * 1.5;
	transform: translateY(-50%);
	box-shadow: 0 1px 1px rgba(0,0,0,1),
							0 4px 14px rgba(0,0,0,0.7);
	z-index: 1;
	background-color: #ddd;
	font-size: 14px;
}

	.breadcrumb a {
		position: relative;
		display: flex;
		flex-grow: 1;
		text-decoration: none;
		margin: auto;
		height: 100%;
		padding-left: 38px;
		padding-right: 0;
		color: #666;
	}

		.breadcrumb a:first-child {
			padding-left: 38px / 2.5;
		}

		.breadcrumb a:last-child {
			padding-right: 38px / 2.5;
		}

		.breadcrumb a:after {
			content: "";
			position: absolute;
			display: inline-block;
			width: 38px * 1.5;
			height: 38px * 1.5;
			top: 0;
			right: 38px / 1.35 * -1;
			background-color: #ddd;
			border-top-right-radius: 5px;
			transform: scale(0.707) rotate(45deg);
			box-shadow: 1px -1px rgba(0,0,0,0.25);
			z-index: 1;
		}

			.breadcrumb a:last-child:after {
				content: none;
			}

	.breadcrumb__inner {
		display: flex;
		flex-direction: column;
		margin: auto;
		z-index: 2;
	}

		.breadcrumb__title {
			font-weight: bold;
		}

.breadcrumb a.active, .breadcrumb a:hover{
	background: darken(tomato, 20%);
	color: rgb(119, 113, 113);
}

.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: darken(tomato, 20%);
	color: white;
}

@media all and (max-width: 1000px) {
	.breadcrumb {
		font-size: 12px;
	}
}

@media all and (max-width: 710px) {
	.breadcrumb__desc {
		display: none;
	}
	
	.breadcrumb {
		height: 38px;
	}
	
	.breadcrumb a {
		padding-left: 38px / 1.5;
	}
	
	.breadcrumb a:after {
			content: "";
			width: 38px * 1;
			height: 38px * 1;
			right: 38px / 2 * -1;
			transform: scale(0.707) rotate(45deg);
		}
}